@import "variables";

// Library imports
@import "~bootstrap/scss/bootstrap";
@import "~swiper/swiper";
@import "~object-fit-images/preprocessors/mixin";

// Mixins
@import "mixins/fill";
@import "mixins/center";
@import "mixins/size";
@import "mixins/stripe";
@import "mixins/unselectable";

// Utils
@import "utils/responsive";
@import "utils/functions";

// Layout
@import "layout/container";
@import "layout/header";
@import "layout/footer";
@import "layout/titles";
@import "layout/buttons";

// Pages
@import "pages/detail";
@import "pages/cart";

// Components
@import "component/topPanel";
@import "component/menu";
@import "component/forms";
@import "component/sliders";
@import "component/sliderBlocks";
@import "component/banner";
@import "component/filter";
@import "component/productCount";
@import "component/productList";
@import "component/productCard";
@import "component/pagination";
@import "component/saleCode";
@import "component/sectionHeader";
@import "component/brand";
@import "component/mobileMenu";
@import "component/subCategories";
@import "component/buyerpanel";
@import "component/inputCounter";
@import "component/productCart";
@import "component/cartSummary";
@import "component/cartPreview";
@import "component/accountPreview";
@import "component/well";
@import "component/modal";
@import "component/section";
@import "component/card";
@import "component/collapse";
@import "component/userSection";
@import "component/mosaic";
@import "component/rate";
@import "component/tabs";
@import "component/table";
@import "component/backLink";
@import "component/ipr";
@import "component/thumbnails";
@import "component/tags";
@import "component/branch";
@import "component/calendarInfo";
@import "component/animation";