$branches-sm-height: 250px;

.branches {
  display: flex;
  height: 78vh;
  position: relative;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    height: $branches-sm-height;
    margin-bottom: 305px;

    .sliderBlocks {
      position: absolute;
      top: $branches-sm-height;
    }
  }
}

.branch__item {
  position: relative;
  flex: 1;
  overflow: hidden;

  @include hover-focus() {
    .branch__bg {
      transform: scale(1.05);
    }
  }
}

.branch__bg {
  @include fill();
  @include object-fit(cover);
  filter: brightness(0.5);
  transition: transform 0.3s ease-in-out;
}

.branch__title {
  @include center();
  text-align: center;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;

  @include media-breakpoint-down(sm) {
    font-size: 20px;
    top: calc(50% + 15px);
  }

  img {
    width: 40px;
    display: block;
    margin: 10px auto;

    @include media-breakpoint-down(sm) {
      width: 20px;
    }
  }
}

.branch__title--main {
  font-weight: $font-weight-bold;
  font-size: 55px;
  top: 15vh;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
    top: 40px;
  }
}

.branch__btnGroup {
  display: flex;
  margin-top: $spacer / 2;
  flex-wrap: wrap;

  .btn {
    flex: 1;
    margin: 10px;

    &:nth-child(2) {
      margin: 10px 50px;

      @include media-breakpoint-down(sm) {
        margin: 10px;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      flex: initial;
    }
  }
}

.branchInfo {
  background-color: #000;
}

.branchInfo__top {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #131416;

  img {
    width: calc(25% - 1rem);
    margin: $spacer / 2;

    @include media-breakpoint-down(md) {
      width: calc(50% - 1rem);
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin: 5px 0 0 0;
    }
  }
}

.branchInfo__middle {
  display: flex;
  background-color: #131416;
  padding: 0 10px 10px 10px;

  @include media-breakpoint-down(md) {
    padding-bottom: 25px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  .row.row--slim {
    max-width: 80%;
    margin: 10px auto;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }

    img {
      height: 110px;
    }
  }

  .row {
    @include media-breakpoint-down(sm) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.branchInfo__img {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    @include object-fit(cover);
  }
}

.branchInfo__info {
  flex: 1;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex: 2;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }

  .title {
    text-align: center;
    margin-top: $spacer * 2;

    @include media-breakpoint-down(md) {
      margin-top: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: $spacer / 2;
      margin-bottom: $spacer / 4;
    }
  }

  img {
    height: 90px;
  }
}

.branchInfo__bottom {
  position: relative;
  height: 450px;

  @include media-breakpoint-down(sm) {
    height: 170px;
  }

  .title {
    @include center();
    text-align: center;
    z-index: 1;
    margin: 0;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
}

.branchInfo__bgImage {
  @include fill();
  @include object-fit(cover);
  filter: brightness(0.5);
}
