.filter {
  display: flex;
  justify-content: space-between;
  max-width: calc(#{$filter-width} - 30px);
  margin: 30px auto $spacer auto;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: $spacer * 2 auto $spacer auto;
  }

  .collapse {
    display: flex;

    @include media-breakpoint-down(sm) {
      display: block;

      &:not(.show) {
        display: none;
      }
    }

    &.collapse-one-item {
      flex: 1;
    }

    &.collapse-four-item {
      flex: 4;
    }
  }
  
  .form-group {
    flex: 1;
    margin: 0 15px;
  }
}

.custom-select {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126.25255 66.703308" height="66.703308mm" width="126.25255mm"><g transform="translate(-0.54503622,-230.66277)"><g transform="matrix(5.2225271e-5,0.26458332,-0.26458332,5.2225271e-5,126.791,200.88162)" id="g891"><path d="m 360.731,229.075 -225.1,-225.1 c -5.3,-5.3 -13.8,-5.3 -19.1,0 -5.3,5.3 -5.3,13.8 0,19.1 l 215.5,215.5 -215.5,215.5 c -5.3,5.3 -5.3,13.8 0,19.1 2.6,2.6 6.1,4 9.5,4 3.4,0 6.9,-1.3 9.5,-4 l 225.1,-225.1 c 5.3,-5.2 5.3,-13.8 0.1,-19 z" id="path833"/></g></g></svg>');
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #9c9288;
  padding-right: 30px;
  color: #645e5c;
  font-size: 20px;
  border-radius: $border-radius-lg;
  align-items: center;
  text-align-last: center;
}

.filter__button {
  display: none;
  width: 150px;
  margin: 0 auto;
  border: 1px solid #9c9287;
  margin-bottom: $spacer / 2;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85rem;

  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.filter--category {
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  margin-top: 15px;

  @include media-breakpoint-down(sm) {
    margin-top: 12rem;
  }
}

.filter--cans {
  .filterSection {
    .filterSection__item {
      width: calc((100% / 8)- #{$spacer * 4});

      @include media-breakpoint-down(md) {
        width: calc((100% / 4)- #{$spacer * 4});
      }

      @include media-breakpoint-down(sm) {
        width: calc((100% / 2) - #{$spacer * 2});
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 12rem;
  }
}

.filterSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -$spacer / 2;
  margin-right: -$spacer / 2;
  margin-top: $spacer;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .filterSection__item {
    border-radius: $border-radius;
    width: calc((100% / 7)- #{$spacer * 4});
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

    &:hover,
    &:focus,
    &.active {
      transform: scale(1.1);
    }

    > img {
      max-height: 90px;
      max-width: 160px;
    }

    @media (max-width: 1350px) {
      width: calc((100% / 5) - #{$spacer * 2});
    }

    @include media-breakpoint-down(md) {
      width: calc((100% / 3) - #{$spacer * 2});
      margin-top: $spacer;

      > img {
        max-height: 90px;
        max-width: 210px;
      }
    }

    @include media-breakpoint-down(sm) {
      width: calc((100% / 2) - #{$spacer * 2});
      height: 140px;
      margin: 0;

      > img {
        max-width: 150px;
      }
    }
  }

  .btn {
    margin: 0 $spacer;

    @include media-breakpoint-down(sm) {
      margin-top: $spacer;
    }
  }

  .btn-lg {
    padding-top: $spacer / 4;
    padding-bottom: $spacer / 4;
    font-weight: $font-weight-bold;
    font-size: 1.5rem;
    width: calc((100% / 4)- #{$spacer * 4});
    box-shadow: 1px 1px 4px 1px #afafaf;

    @include media-breakpoint-down(lg) {
      font-size: $h3-font-size;
    }

    @include media-breakpoint-down(md) {
      width: calc((100% / 2) - #{$spacer * 2});
      margin-top: $spacer;
      font-size: $h3-font-size;
    }

    @include media-breakpoint-down(sm) {
      width: calc((100%) - #{$spacer * 2});
      font-size: $h4-font-size;
    }
  }
}

.filterSection--big {
  max-width: $filter-width * 1.5;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.filterSection--middle {
  max-width: $filter-width * 1.8;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.filterSection--small {
  max-width: $filter-width;
  margin-left: auto;
  margin-right: auto;
}

.filterSeparator {
  @include get-stripe-offset();
  display: block;
  height: 1px;
  background: $brown;
  margin-top: $spacer * 2;
  margin-bottom: $spacer;

  @include media-breakpoint-down(sm) {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer / 2;
  }
}

.filterSelect {
  display: flex;
  justify-content: space-around;
  max-width: 935px;
  margin: 0 auto;
  width: 100%;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}