.productDetail__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $spacer * 2;

  // simulate col-md-9 offset
  margin-left: calc(((100% / 12) * 4) + 5px);
  max-width: calc(((100% / 12) * 8) + 5px);


  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-left: 0;
    max-width: 100%;
  }

  h1 {
    font-size: 2.6rem;
    flex: 1 0 75%;
    max-width: 70%;
    color: #000;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
      margin-left: 0;
      font-size: $font-size-lg;
      color: $text-color;
    }
  }

  .producer {
    padding-left: $spacer / 2;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-left: 0;
      flex: 1 0 25%;
    }

    > img {
      width: 100px;
      object-fit: contain;

      @include media-breakpoint-down(sm) {
        max-width: 64px;
      }
    }
  }

  .price {
    display: none;
    flex: 0 1 100%;
    flex-wrap: wrap;
    margin-bottom: $spacer;
    flex-direction: column;
    line-height: 1.2;

    del {
      color: $primary;
    }

    .actual {

      font-size: 1.5rem;
      font-weight: 900;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
    }
  }
}

.productDetail__gallery {
  margin-top: $desktop-offset;

  @include media-breakpoint-down(sm) {
    margin-top: 0;

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }

  .slider img {
    max-width: 100%;
    position: relative;
    top: -30px;

    @include media-breakpoint-down(sm) {
      max-height: 400px;
      top: initial;
    }
  }

  .swiper--thumbnails {
    position: absolute;
    top: $desktop-offset;
    right: 0;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      position: initial;
      top: initial;
      right: initial;
    }

    .swiper-slide {
      @include size(70px);
      display: flex;
      justify-content: center;
      padding: 5px;
      margin: 10px;
      border: 1px solid #c1c1c1;

      @include media-breakpoint-down(sm) {
        @include size(55px);
        padding: 2.5px;
        margin: 5px;
      }

      &.swiper-slide-active {
        border-color: #000;
      }

      img {
        height: 55px;
        @include object-fit(contain);

        @include media-breakpoint-down(sm) {
          @include size(45px);
        }
      }
    }
  }
}

.productDetail__params {
  display: flex;
  flex-direction: column;
  margin-top: $spacer;
  max-width: 650px;

  @include media-breakpoint-down(sm) {
    margin-right: 0;

    &:not(.productDetail__params--top) {
      max-width: 50%;
      position: absolute;
      .productDetail__paramsItem {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 650px) {
    &:not(.productDetail__params--top) {
      max-width: 100%;
      position: relative;
    }
  }

  .productDetail__paramsItem {
    margin-bottom: 5px;
    display: flex;
    color: #000;

    span {
      margin-right: $spacer / 2;
    }
  }

}

.productDetail__params--top {
  flex-direction: row;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  .productDetail__paramsItem {
    flex: initial;
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    line-height: 1.2;
    flex-direction: row;
    border-right: 2px solid $black;
    padding-right: 10px;
    margin-right: 0.75rem;

    @media (max-width: 650px) {
      border-right: none;
      border-bottom: 2px solid $black;
      padding-right: 0;
      margin-right: 0;
    }

    &:last-of-type {
      border-right: none;
    }

    span {
      margin-bottom: $spacer / 4;
    }
  }
}